<div class="uk-flex-center" uk-grid>
    <div class="uk-width-1-3@m">
        <app-loading *ngIf="busy"></app-loading>
        <form [formGroup]="form" *ngIf="!busy">
            <div class="uk-card uk-card-primary uk-card-body uk-box-shadow-small uk-margin-large-top">
                <h3 class="uk-card-title">Cadastre-se</h3>
                <div class="uk-margin">
                    <input class="uk-input uk-form-large" type="text" placeholder="Nome" formControlName="name"
                        [ngClass]="{'uk-form-danger':(!form.controls.name.valid && !form.controls.name.pristine)}">
                </div>
                <div class="uk-margin">
                    <input class="uk-input uk-form-large" type="text" placeholder="CPF" formControlName="document"
                        mask="###.###.###-##" maxlength="14"
                        [ngClass]="{'uk-form-danger':(!form.controls.document.valid && !form.controls.document.pristine)}">
                </div>
                <div class="uk-margin">
                    <input class="uk-input uk-form-large" type="email" placeholder="E-mail" formControlName="email"
                        [ngClass]="{'uk-form-danger':(!form.controls.email.valid && !form.controls.email.pristine)}">
                </div>
                <div class="uk-margin uk-text-right">
                    <button [routerLink]="['/login']" class="uk-button uk-button-default" [disabled]="form.invalid"
                        (click)="submit()">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>